*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{
    margin: auto;
    width: max-content;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 20px;
   
}

.results-container{

    text-align: right;
}
#values{

    font-size: 30px;
    margin-top: 10px;
   
   
}

#values-p{

    height: 35px;
    /* background-color: #ff0000; */

}

#results{

    font-size: 60px;
    margin-top: 30px;
    

}

.text-fields{

    overflow:hidden;
}

.btns-table{

    border-spacing: 15px;
}

.btns{
    background-color: #333333;
    width: 5rem;
    height: 5rem;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    transition: scale .3s;
    border-radius:50%; 
    /* border: 5px solid black; */
    /* box-shadow: 1px 1px 8px #ffffff; */
    box-shadow: inset;
    
}

.btns:active{

    transform: scale(.90);
    transition: scale .3s;

}

.btns-click{
    scale: 1;
}

.btns-click:hover{

    cursor: pointer;
    scale: 1.0;

}

.btns:hover{

    cursor: pointer;
    scale: 1.05;
}

.btns-white{
    background-color: #d4d4d4;
    color: rgb(63, 63, 63); 
    font-weight: bold;
    font-size: 30px;
}


.btns-orange{
    background-color: #FE9505;
    color: rgb(63, 63, 63); 
    font-weight: bold;
    font-size: 40px;
    color: #d4d4d4;
}

.btn-0{

    border-radius: 2.5rem;
}